* {
    padding: 0;
    margin: 0;
}

body {
    background: #FFFFFF;
}

img {
    position: absolute;
    width: 420px;
    height: 35em;
    left: 212px;
    top: 51px;    
    background-repeat: no-repeat;
}

.welcome {
    position: absolute;
    width: 470px;
    height: 298.55px;
    left: 700px;
    top: 190px;
}

.welcome h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 111px;
    line-height: 130px;
    text-align: center;
    color: #000000;
}

.welcome p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}

.btn-next2 {
    position: absolute;
    width: 199px;
    height: 35.55px;
    left: 864px;
    top: 450px;
    background: #3EB25E;
    border-radius: 35px;
}

.btn-next2 p {
    line-height: 32px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.btn-next2:hover {
    background-color: yellow;
}

.btn-next2 p:hover {
    color: black;
}

/* Telas Pequenas */
@media (min-width: 249px) and (max-width: 480px){
    img {
        position: absolute;
        width: 250px;
        height: 416px;
        left: 59px;
        top: 56px;
    }
    .welcome {
        position: absolute;
        width: 264px;
        height: 70px;
        left: 108px;
        top: 497px;
    }
    .welcome h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 53px;
        line-height: 62px;
        text-align: center;
        color: #000000;
    }
    .welcome p {
        width: 350px;
        margin-left: -30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        padding-top: 1rem;
    }
    .btn-next2 {
        width: 199px;
        height: 36px;
        left: 141px;
        top: 640px;
        background: #3EB25E;
        border-radius: 35px;
        margin: 0;
        padding: 0;
    }
    .btn-next2:hover {
    background-color: yellow;
    }
}

/* Telas Médias */
@media (min-width: 481px)  and (max-width: 1024px) {
    img {
        position: absolute;
        width: 271px;
        height: 416px;
        left: 59px;
        top: 56px;
    }
    .welcome {
        position: absolute;
        width: 264px;
        height: 70px;
        left: 108px;
        top: 497px;
    }
    .welcome h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 53px;
        line-height: 62px;
        text-align: center;
        color: #000000;
    }
    .welcome p {
        position: absolute;
        width: 350px;
        margin-left: -30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        padding-top: 1rem;
    }
    .btn-next2 {
        width: 199px;
        height: 36px;
        left: 141px;
        top: 640px;
        background: #3EB25E;
        border-radius: 35px;
    }
    .btn-next2:hover {
    background-color: yellow;
    }
}

/*Desktop 1*/

.flex-container {
    display: flex;
}

#img-start {
    position: absolute;
    width: 552.51px;
    height: 480.01px;
    left: 87.49px;
    top: 51px;  
    background-repeat: no-repeat;
}

.markets-financial h1 {
    position: absolute;
    width: 473px;
    height: 101px;
    left: 719px;
    top: 123px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}

.motivo-pesquisa {
    position: absolute;
    width: 443px;
    height: 169px;
    left: 734px;
    top: 228px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.btn-home {
    position: absolute;
    width: 199px;
    height: 30px;
    left: 734px;
    top: 12.2cm;
    background: #3EB25E;
    border-radius: 35px;
}

.btn-home p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.btn-fill {
    position: absolute;
    width: 198px;
    height: 30px;
    left: 960px;
    top: 12.2cm;
    background: #3EB25E;
    border-radius: 35px;
}

.btn-fill p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.btn-fill:hover, .btn-home:hover{
    background-color: yellow;
}

.btn-fill p:hover, .btn-home p:hover{
    color: black;
}

/*Desktop 2*/

.status-account {
    position: absolute;
    width: 470px;
    height: 40px;
    left: 708px;
    top: 141px;
}

.status-account h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

select {
    box-sizing: border-box;
    position: absolute;
    width: 70vh;
    height: 5%;
    left: calc(50% - 459px/2 + 285.5px);
    top: calc(50% - 10px/2 - 140px);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    background: url(img/seta-select.svg) no-repeat center left 6px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

form h3 {
    position: absolute;
    width: 511px;
    height: 40px;
    left: 731px;
    top: 6.5cm;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.check {
    position: absolute;
    width: 324px;
    height: 211px;
    left: 745px;
    top: 290px;
    line-height: 35px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    left: 735px;
    top: 340px;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(62, 178, 94, 0.3);
    border-radius: 50%;
    margin: 0;
    place-content: center;
}

input[type="radio"]:checked {
    background: #3EB25E;
}

label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: 13.5em 5em;
}

.btn-tela2 {
    background: #3EB25E;
    border-radius: 35px;
    width: 198px;
    height: 28px;
    margin-top: 1em;
}

.btn-tela2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.btn-next3 {
    background: #3EB25E;
    border-radius: 35px;
    width: 198px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    line-height: 26px;
    margin-top: 1em;
}

.btn-skip {
    width: 418px;
    height: 28px;
    background: #3EB25E;
    border-radius: 35px;
    margin-top: 1em;
}

.btn-skip p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
button {
    border: none!important;
}

button:disabled {
    opacity: .4;
    cursor: default;
}

.btn-tela2:hover, .btn-next3:hover, .btn-skip:hover{
    background-color: yellow;
}

.btn-tela2 p:hover, .btn-next3:hover, .btn-skip p:hover{
    color: black;
}

/*Desktop 3*/

.status-invest {
    position: absolute;
    width: 404px;
    height: 40px;
    left: 734px;
    top: 173px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

#invest {
    box-sizing: border-box;
    position: absolute;
    width: 70vh;
    height: 5%;
    left: 732px;
    top: 221px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    background: url(img/seta-select.svg) no-repeat center left 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#trainning {
    position: absolute;
    width: 32%;
    height: 70px;
    left: 734px;
    top: 7.3cm;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

#trainning span {
    margin-right: 2.5cm;
}

.check2 {
    position: absolute;
    width: auto;
    height: 156px;
    left: 735px;
    top: 9.3cm;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    left: 735px;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(62, 178, 94, 0.3);
    border-radius: 5px;
    margin: 0;
}

input[type="checkbox"]:checked {
    background: #3EB25E;
}

.check2 label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-left: 0.7em;
}